<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="janettha.activity1">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity android:name=".Activities_Login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities_Login.LoginActivity" />
        <activity android:name=".Activities_Login.ResetPasswordActivity" />
        <activity android:name=".Activities_Login.SignUpActivity" />
        <activity
            android:name=".Menu.MainmenuActivity"
            android:label="Menu"
            android:parentActivityName="Activities_Login.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Act0.Preactivity"
            android:label="@string/title_activity_preactivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Menu.MainmenuActivity" />
        </activity>
        <activity
            android:name=".ActB.ActB"
            android:label="@string/title_activity_1"
            android:parentActivityName="Menu.MainmenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Menu.MainmenuActivity" />
        </activity>
        <activity
            android:name=".ActC.ActC"
            android:label="@string/title_activity_2"
            android:parentActivityName="Menu.MainmenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Menu.MainmenuActivity" />

            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities_Login.loginUser"
            android:label="@string/title_activity_loginUser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Util.DBPrueba" />
        <activity
            android:name=".ActA.ActA"
            android:label="@string/title_activity_act" />
        <activity android:name=".PDF.ViewPDFActivity" />
        <activity android:name=".Menu.UserList"></activity>
    </application>

</manifest>